.history {
  margin-top: 20px;
}

.history-table-wrapper {
  overflow-y: auto;
  max-height: 200px;
  border-top: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
}
